@mixin MidSort {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin resetInput {
  outline: none;
  background: none;
  border: none;
}

@mixin MidRowSort {
  display: flex;
  align-items: center;
}
